<div class="categoryWall">
    <div class="container">
        <div class="categoryWall__content">
            <div class="sectionTitle sectionTitle_white">запчастини для сельхозтехніки</div>
            <div class="categoryWall__items">
                <a href="#" class="categoryWall__item">
                    <img src="images/cart_product.png" alt="">
                    <span>для навантажувачів </span>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/cart_product.png" alt=""> 
                    <span>для навантажувачів </span>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/cart_product.png" alt="">
                    <span>для навантажувачів </span>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/cart_product.png" alt="">
                    <span>для навантажувачів </span>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/cart_product.png" alt="">
                    <span>для навантажувачів </span>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/cart_product.png" alt="">
                    <span>для навантажувачів </span>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/cart_product.png" alt="">
                    <span>для навантажувачів </span>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/cart_product.png" alt="">
                    <span>для навантажувачів </span>
                </a>
            </div>
            <a href="#" class="categoryWall__link">
                детальніше
                <img src="images/arrow_right.svg" alt="">
            </a>
        </div>
    </div>
</div>