<main class="main">
    <div class="main__slider">
        <div class="main__slider-item">
            <div class="main__slider-item__imgbox">
                <img src="images/main_bg.png" alt="" class="main_bg">
                <img src="images/main_bg_shadow.png" alt="" class="main_bg_shadow">
            </div>
            <div class="main__info">
                <div class="main__info-title">ФРОНТАЛЬНИЙ НАВАНТАЖУВАЧ PATRIOT 2K</div>
                <div class="main__info-desc">Завод Агроформат - інноваційний виробник сучасної сільськогосподарської техніки</div>
                <div class="main__info-group">
                    <div class="main__info-group__price">140 000 грн</div>
                    <a href="#" class="main__info-group__btn"> <span>детальніше</span>
                        <img src="images/arrow_right.svg" alt="">
                    </a>
                </div>
                <ul class="main__info-params">
                    <li class="main__info-param">
                        <svg width="53" height="26" viewBox="0 0 53 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7071 13.7071C17.0976 13.3166 17.0976 12.6834 16.7071 12.2929L10.3431 5.92893C9.95262 5.53841 9.31946 5.53841 8.92893 5.92893C8.53841 6.31946 8.53841 6.95262 8.92893 7.34315L14.5858 13L8.92893 18.6569C8.53841 19.0474 8.53841 19.6805 8.92893 20.0711C9.31946 20.4616 9.95262 20.4616 10.3431 20.0711L16.7071 13.7071ZM0 14H16V12H0V14Z" fill="#088AF8"/>
                            <path d="M36.2929 13.7071C35.9024 13.3166 35.9024 12.6834 36.2929 12.2929L42.6569 5.92893C43.0474 5.53841 43.6805 5.53841 44.0711 5.92893C44.4616 6.31946 44.4616 6.95262 44.0711 7.34315L38.4142 13L44.0711 18.6569C44.4616 19.0474 44.4616 19.6805 44.0711 20.0711C43.6805 20.4616 43.0474 20.4616 42.6569 20.0711L36.2929 13.7071ZM53 14H37V12H53V14Z" fill="#088AF8"/>
                            <rect x="20" width="4" height="26" fill="#088AF8"/>
                            <rect x="30" width="4" height="26" fill="#088AF8"/>
                        </svg>
                        <div class="main__info-param__text">300 мм</div>
                    </li>
                    <li class="main__info-param">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.166748 21.8333H21.8334V6.66663H0.166748V21.8333ZM11.1842 9.32079L12.9826 10.5125L11.3142 13.0258L13.4809 15.1925L10.8159 19.1791L9.01758 17.9875L10.6859 15.4741L8.51925 13.3075L11.1842 9.32079Z" fill="#088AF8"/>
                            <path d="M19.6667 3.41663C19.6667 2.55467 19.3243 1.72802 18.7148 1.11853C18.1054 0.509036 17.2787 0.166626 16.4167 0.166626C15.5548 0.166626 14.7281 0.509036 14.1186 1.11853C13.5092 1.72802 13.1667 2.55467 13.1667 3.41663H8.83341C8.83341 2.55467 8.491 1.72802 7.88151 1.11853C7.27202 0.509036 6.44537 0.166626 5.58341 0.166626C4.72146 0.166626 3.89481 0.509036 3.28532 1.11853C2.67582 1.72802 2.33341 2.55467 2.33341 3.41663H0.166748V5.58329H21.8334V3.41663H19.6667ZM4.50008 3.41663C4.50008 3.12931 4.61422 2.85376 4.81738 2.65059C5.02055 2.44743 5.2961 2.33329 5.58341 2.33329C5.87073 2.33329 6.14628 2.44743 6.34945 2.65059C6.55261 2.85376 6.66675 3.12931 6.66675 3.41663H4.50008ZM15.3334 3.41663C15.3334 3.12931 15.4475 2.85376 15.6507 2.65059C15.8539 2.44743 16.1294 2.33329 16.4167 2.33329C16.7041 2.33329 16.9796 2.44743 17.1828 2.65059C17.3859 2.85376 17.5001 3.12931 17.5001 3.41663H15.3334Z" fill="#088AF8"/>
                        </svg>
                        <div class="main__info-param__text">14,1 кВт</div>
                    </li>
                    <li class="main__info-param">
                        <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.099 8.63949H14.7098C13.8686 8.63949 13.1725 8.02477 13.0416 7.22041C14.1554 6.53312 14.8996 5.30187 14.8996 3.89966C14.8995 1.74938 13.1503 0 11.0001 0C8.84982 0 7.10044 1.74938 7.10044 3.89966C7.10044 5.30187 7.84463 6.53312 8.95855 7.22041C8.8277 8.02477 8.13172 8.63949 7.29042 8.63949H2.90112L0.705566 26H21.2945L19.099 8.63949ZM11.0001 2.07168C12.008 2.07168 12.8278 2.89171 12.8278 3.89957C12.8278 4.90744 12.0079 5.72738 11.0001 5.72738C9.99223 5.72738 9.1722 4.90744 9.1722 3.89957C9.17212 2.89171 9.99215 2.07168 11.0001 2.07168ZM10.2329 19.4087L8.51306 16.8444L8.01722 17.4177V19.4087H7.34319V14.187H8.01722V16.7049H8.04047C8.17992 16.5035 8.31938 16.3175 8.45108 16.1471L10.0471 14.187H10.8838L8.99341 16.4027L11.0309 19.4087H10.2329ZM14.68 16.6894V18.8664C14.68 19.7263 14.5095 20.2531 14.1454 20.5785C13.7814 20.9194 13.2544 21.0278 12.7819 21.0278C12.3326 21.0278 11.8368 20.9194 11.5347 20.7179L11.7051 20.1988C11.953 20.3538 12.3404 20.4932 12.8052 20.4932C13.5025 20.4932 14.0138 20.1291 14.0138 19.1839V18.7656H13.9983C13.7891 19.1142 13.3863 19.3931 12.8053 19.3931C11.8757 19.3931 11.2094 18.6029 11.2094 17.5648C11.2094 16.2942 12.0383 15.5738 12.8982 15.5738C13.549 15.5738 13.9054 15.9147 14.068 16.2246H14.0835L14.1145 15.659H14.7111C14.6955 15.9302 14.68 16.2323 14.68 16.6894Z" fill="#088AF8"/>
                            <path d="M13.0143 16.1084C12.3635 16.1084 11.8987 16.6585 11.8987 17.5261C11.8987 18.2621 12.2706 18.8741 13.0065 18.8741C13.4249 18.8741 13.8045 18.6107 13.9516 18.1768C13.9903 18.0606 14.0058 17.9289 14.0058 17.8128V17.1387C14.0058 17.0225 13.9981 16.9218 13.9671 16.8288C13.8432 16.4337 13.5102 16.1084 13.0143 16.1084Z" fill="#088AF8"/>
                        </svg>
                        <div class="main__info-param__text">1500 кг</div>
                    </li>
                    <li class="main__info-param">
                        <svg width="50" height="26" viewBox="0 0 50 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M39.7071 13.7071C40.0976 13.3166 40.0976 12.6834 39.7071 12.2929L33.3431 5.92893C32.9526 5.53841 32.3195 5.53841 31.9289 5.92893C31.5384 6.31946 31.5384 6.95262 31.9289 7.34315L37.5858 13L31.9289 18.6569C31.5384 19.0474 31.5384 19.6805 31.9289 20.0711C32.3195 20.4616 32.9526 20.4616 33.3431 20.0711L39.7071 13.7071ZM23 14H39V12H23V14Z" fill="#088AF8"/>
                            <path d="M10.2929 13.7071C9.90237 13.3166 9.90237 12.6834 10.2929 12.2929L16.6569 5.92893C17.0474 5.53841 17.6805 5.53841 18.0711 5.92893C18.4616 6.31946 18.4616 6.95262 18.0711 7.34315L12.4142 13L18.0711 18.6569C18.4616 19.0474 18.4616 19.6805 18.0711 20.0711C17.6805 20.4616 17.0474 20.4616 16.6569 20.0711L10.2929 13.7071ZM27 14H11V12H27V14Z" fill="#088AF8"/>
                            <rect width="4" height="26" fill="#088AF8"/>
                            <rect x="46" width="4" height="26" fill="#088AF8"/>
                        </svg>
                        <div class="main__info-param__text">L6400 мм</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main__slider-item">
            <div class="main__slider-item__imgbox">
                <img src="images/main_bg.png" alt="" class="main_bg">
                <img src="images/main_bg_shadow.png" alt="" class="main_bg_shadow">
            </div>
            <div class="main__info">
                <div class="main__info-title">ФРОНТАЛЬНИЙ НАВАНТАЖУВАЧ PATRIOT 2K</div>
                <div class="main__info-desc">Завод Агроформат - інноваційний виробник сучасної сільськогосподарської техніки</div>
                <div class="main__info-group">
                    <div class="main__info-group__price">140 000 грн</div>
                    <a href="#" class="main__info-group__btn"><span>детальніше</span>
                        <img src="images/arrow_right.svg" alt="">
                    </a>
                </div>
                <ul class="main__info-params">
                    <li class="main__info-param">
                        <svg width="53" height="26" viewBox="0 0 53 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7071 13.7071C17.0976 13.3166 17.0976 12.6834 16.7071 12.2929L10.3431 5.92893C9.95262 5.53841 9.31946 5.53841 8.92893 5.92893C8.53841 6.31946 8.53841 6.95262 8.92893 7.34315L14.5858 13L8.92893 18.6569C8.53841 19.0474 8.53841 19.6805 8.92893 20.0711C9.31946 20.4616 9.95262 20.4616 10.3431 20.0711L16.7071 13.7071ZM0 14H16V12H0V14Z" fill="#088AF8"/>
                            <path d="M36.2929 13.7071C35.9024 13.3166 35.9024 12.6834 36.2929 12.2929L42.6569 5.92893C43.0474 5.53841 43.6805 5.53841 44.0711 5.92893C44.4616 6.31946 44.4616 6.95262 44.0711 7.34315L38.4142 13L44.0711 18.6569C44.4616 19.0474 44.4616 19.6805 44.0711 20.0711C43.6805 20.4616 43.0474 20.4616 42.6569 20.0711L36.2929 13.7071ZM53 14H37V12H53V14Z" fill="#088AF8"/>
                            <rect x="20" width="4" height="26" fill="#088AF8"/>
                            <rect x="30" width="4" height="26" fill="#088AF8"/>
                        </svg>
                        <div class="main__info-param__text">300 мм</div>
                    </li>
                    <li class="main__info-param">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.166748 21.8333H21.8334V6.66663H0.166748V21.8333ZM11.1842 9.32079L12.9826 10.5125L11.3142 13.0258L13.4809 15.1925L10.8159 19.1791L9.01758 17.9875L10.6859 15.4741L8.51925 13.3075L11.1842 9.32079Z" fill="#088AF8"/>
                            <path d="M19.6667 3.41663C19.6667 2.55467 19.3243 1.72802 18.7148 1.11853C18.1054 0.509036 17.2787 0.166626 16.4167 0.166626C15.5548 0.166626 14.7281 0.509036 14.1186 1.11853C13.5092 1.72802 13.1667 2.55467 13.1667 3.41663H8.83341C8.83341 2.55467 8.491 1.72802 7.88151 1.11853C7.27202 0.509036 6.44537 0.166626 5.58341 0.166626C4.72146 0.166626 3.89481 0.509036 3.28532 1.11853C2.67582 1.72802 2.33341 2.55467 2.33341 3.41663H0.166748V5.58329H21.8334V3.41663H19.6667ZM4.50008 3.41663C4.50008 3.12931 4.61422 2.85376 4.81738 2.65059C5.02055 2.44743 5.2961 2.33329 5.58341 2.33329C5.87073 2.33329 6.14628 2.44743 6.34945 2.65059C6.55261 2.85376 6.66675 3.12931 6.66675 3.41663H4.50008ZM15.3334 3.41663C15.3334 3.12931 15.4475 2.85376 15.6507 2.65059C15.8539 2.44743 16.1294 2.33329 16.4167 2.33329C16.7041 2.33329 16.9796 2.44743 17.1828 2.65059C17.3859 2.85376 17.5001 3.12931 17.5001 3.41663H15.3334Z" fill="#088AF8"/>
                        </svg>
                        <div class="main__info-param__text">14,1 кВт</div>
                    </li>
                    <li class="main__info-param">
                        <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.099 8.63949H14.7098C13.8686 8.63949 13.1725 8.02477 13.0416 7.22041C14.1554 6.53312 14.8996 5.30187 14.8996 3.89966C14.8995 1.74938 13.1503 0 11.0001 0C8.84982 0 7.10044 1.74938 7.10044 3.89966C7.10044 5.30187 7.84463 6.53312 8.95855 7.22041C8.8277 8.02477 8.13172 8.63949 7.29042 8.63949H2.90112L0.705566 26H21.2945L19.099 8.63949ZM11.0001 2.07168C12.008 2.07168 12.8278 2.89171 12.8278 3.89957C12.8278 4.90744 12.0079 5.72738 11.0001 5.72738C9.99223 5.72738 9.1722 4.90744 9.1722 3.89957C9.17212 2.89171 9.99215 2.07168 11.0001 2.07168ZM10.2329 19.4087L8.51306 16.8444L8.01722 17.4177V19.4087H7.34319V14.187H8.01722V16.7049H8.04047C8.17992 16.5035 8.31938 16.3175 8.45108 16.1471L10.0471 14.187H10.8838L8.99341 16.4027L11.0309 19.4087H10.2329ZM14.68 16.6894V18.8664C14.68 19.7263 14.5095 20.2531 14.1454 20.5785C13.7814 20.9194 13.2544 21.0278 12.7819 21.0278C12.3326 21.0278 11.8368 20.9194 11.5347 20.7179L11.7051 20.1988C11.953 20.3538 12.3404 20.4932 12.8052 20.4932C13.5025 20.4932 14.0138 20.1291 14.0138 19.1839V18.7656H13.9983C13.7891 19.1142 13.3863 19.3931 12.8053 19.3931C11.8757 19.3931 11.2094 18.6029 11.2094 17.5648C11.2094 16.2942 12.0383 15.5738 12.8982 15.5738C13.549 15.5738 13.9054 15.9147 14.068 16.2246H14.0835L14.1145 15.659H14.7111C14.6955 15.9302 14.68 16.2323 14.68 16.6894Z" fill="#088AF8"/>
                            <path d="M13.0143 16.1084C12.3635 16.1084 11.8987 16.6585 11.8987 17.5261C11.8987 18.2621 12.2706 18.8741 13.0065 18.8741C13.4249 18.8741 13.8045 18.6107 13.9516 18.1768C13.9903 18.0606 14.0058 17.9289 14.0058 17.8128V17.1387C14.0058 17.0225 13.9981 16.9218 13.9671 16.8288C13.8432 16.4337 13.5102 16.1084 13.0143 16.1084Z" fill="#088AF8"/>
                        </svg>
                        <div class="main__info-param__text">1500 кг</div>
                    </li>
                    <li class="main__info-param">
                        <svg width="50" height="26" viewBox="0 0 50 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M39.7071 13.7071C40.0976 13.3166 40.0976 12.6834 39.7071 12.2929L33.3431 5.92893C32.9526 5.53841 32.3195 5.53841 31.9289 5.92893C31.5384 6.31946 31.5384 6.95262 31.9289 7.34315L37.5858 13L31.9289 18.6569C31.5384 19.0474 31.5384 19.6805 31.9289 20.0711C32.3195 20.4616 32.9526 20.4616 33.3431 20.0711L39.7071 13.7071ZM23 14H39V12H23V14Z" fill="#088AF8"/>
                            <path d="M10.2929 13.7071C9.90237 13.3166 9.90237 12.6834 10.2929 12.2929L16.6569 5.92893C17.0474 5.53841 17.6805 5.53841 18.0711 5.92893C18.4616 6.31946 18.4616 6.95262 18.0711 7.34315L12.4142 13L18.0711 18.6569C18.4616 19.0474 18.4616 19.6805 18.0711 20.0711C17.6805 20.4616 17.0474 20.4616 16.6569 20.0711L10.2929 13.7071ZM27 14H11V12H27V14Z" fill="#088AF8"/>
                            <rect width="4" height="26" fill="#088AF8"/>
                            <rect x="46" width="4" height="26" fill="#088AF8"/>
                        </svg>
                        <div class="main__info-param__text">L6400 мм</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>