<div class="partners">
    <div class="container">
        <div class="partners__content">
            <div class="sectionTitle">наши партнёры</div>
            <div class="partners__slider">
                <a href="#">
                    <img src="images/partner.png" alt="partner">
                </a>
                <a href="#">
                    <img src="images/partner.png" alt="partner">
                </a>
                <a href="#">
                    <img src="images/partner.png" alt="partner">
                </a>
                <a href="#">
                    <img src="images/partner.png" alt="partner">
                </a>
                <a href="#">
                    <img src="images/partner.png" alt="partner">
                </a>
            </div>
        </div>
    </div>
</div> 