<div class="reviews">
    <div class="container">
        <div class="reviews__content">
            <div class="sectionTitle sectionTitle_white">відгуки</div>
            <div class="reviews__slider">
                <div class="reviews__item">
                    <div class="reviews__item-title">іван іванов</div>
                    <div class="rating">
                        <span class="star active" data-rating="1">&#9733;</span>
                        <span class="star active" data-rating="2">&#9733;</span>
                        <span class="star active" data-rating="3">&#9733;</span>
                        <span class="star active" data-rating="4">&#9733;</span>
                        <span class="star " data-rating="5">&#9733;</span>
                        </div>
                    <div id="rating-value"></div>
                    <div class="reviews__item-desc">Жодна галузь не має межі вдосконалння. Тим більше це стосується сільського господарства. Постійне вдосконалення технологічних підходів в обробітку грунту та посіву, а також пошук.</div>
                    <div class="reviews__item-date">21.09.2023</div>
                    <div class="reviews__item-product">Культиватор навісний суцільний</div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__item-title">іван іванов</div>
                    <div class="rating">
                        <span class="star active" data-rating="1">&#9733;</span>
                        <span class="star active" data-rating="2">&#9733;</span>
                        <span class="star active" data-rating="3">&#9733;</span>
                        <span class="star active" data-rating="4">&#9733;</span>
                        <span class="star " data-rating="5">&#9733;</span>
                        </div>
                    <div id="rating-value"></div>
                    <div class="reviews__item-desc">Жодна галузь не має межі вдосконалння. Тим більше це стосується сільського господарства. Постійне вдосконалення технологічних підходів в обробітку грунту та посіву, а також пошук.</div>
                    <div class="reviews__item-date">21.09.2023</div>
                    <div class="reviews__item-product">Культиватор навісний суцільний</div>
                </div>
            </div>
        </div>
    </div>
</div> 