<div class="sertificates">
    <div class="container">
        <div class="sertificates__content">
            <div class="sectionTitle sectionTitle_white">наши сертификаты качества</div>
            <div class="sertificates__slider">
                <a href="#">
                    <img src="images/sertificate.png" alt="sertificate">
                </a>
                <a href="#">
                    <img src="images/sertificate.png" alt="sertificate">
                </a>
                <a href="#">
                    <img src="images/sertificate.png" alt="sertificate">
                </a>
                <a href="#">
                    <img src="images/sertificate.png" alt="sertificate">
                </a>
                <a href="#">
                    <img src="images/sertificate.png" alt="sertificate">
                </a>
            </div>
        </div>
    </div> 
</div>