<div class="slider">
    <div class="container">
        <div class="slider__content">
            <div class="sectionTitle">наша продукція</div>
            <div class="slider__slider">
                <div class="slider__item">
                    <div class="slider__img">
                        <img src="images/product.png" alt="">
                    </div>
                    <div class="slider__title">навантажувачІ</div>
                    <div class="slider__desc">Якісне та спеціалізоване обладнання</div>
                    <a href="#" class="slider__link">детальніше
                        <img src="images/arrow_right.svg" alt="">
                    </a>
                </div>
                <div class="slider__item">
                    <div class="slider__img">
                        <img src="images/product.png" alt="">
                    </div>
                    <div class="slider__title">навантажувачІ</div>
                    <div class="slider__desc">Якісне та спеціалізоване обладнання</div>
                    <a href="#" class="slider__link">детальніше
                        <img src="images/arrow_right.svg" alt="">
                    </a>
                </div>
                <div class="slider__item">
                    <div class="slider__img">
                        <img src="images/product.png" alt="">
                    </div>
                    <div class="slider__title">навантажувачІ</div>
                    <div class="slider__desc">Якісне та спеціалізоване обладнання</div>
                    <a href="#" class="slider__link">детальніше
                        <img src="images/arrow_right.svg" alt="">
                    </a>
                </div>
                <div class="slider__item">
                    <div class="slider__img">
                        <img src="images/product.png" alt="">
                    </div>
                    <div class="slider__title">навантажувачІ</div>
                    <div class="slider__desc">Якісне та спеціалізоване обладнання</div>
                    <a href="#" class="slider__link">детальніше
                        <img src="images/arrow_right.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>