<div class="tehno">
    <div class="tehno__row">
        <div class="tehno__media">
            <video src="images/main_bg.mp4" class="video" playsinline="" muted="" loop=""></video>
            <!--<img src="images/pricep.png" alt="">-->
            <button class="tehno__media-btn customLink" data-video="video1" type="button">
                <svg width="26" height="32" viewBox="0 0 26 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.2865 13.7575L4.8695 1.04461C4.39179 0.73202 3.86683 0.56665 3.35107 0.56665C1.97812 0.56665 0.942383 1.6847 0.942383 3.16732V28.8326C0.942383 30.3152 1.97788 31.4332 3.35082 31.4332C3.86683 31.4332 4.39204 31.2679 4.86925 30.955L24.2865 18.2404C25.0949 17.711 25.559 16.8938 25.5587 15.9988C25.559 15.1038 25.0952 14.2872 24.2865 13.7575ZM4.67279 26.6253V5.37433L20.9005 15.9991L4.67279 26.6253Z" fill="white"/>
                </svg>
            </button>
        </div>
        <div class="tehno__info">
            <div class="tehno__info-icon">
                <svg width="128" height="59" viewBox="0 0 128 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="77.1667" y1="34.6667" x2="127.167" y2="34.6667" stroke="#088AF8" stroke-width="3"/>
                    <path d="M0 58.3333H58.3333V17.5H0V58.3333ZM29.6625 24.6458L34.5042 27.8542L30.0125 34.6208L35.8458 40.4542L28.6708 51.1875L23.8292 47.9792L28.3208 41.2125L22.4875 35.3792L29.6625 24.6458Z" fill="#088AF8"/>
                    <path d="M52.5 8.75C52.5 6.42936 51.5781 4.20376 49.9372 2.56282C48.2962 0.921873 46.0706 0 43.75 0C41.4294 0 39.2038 0.921873 37.5628 2.56282C35.9219 4.20376 35 6.42936 35 8.75H23.3333C23.3333 6.42936 22.4115 4.20376 20.7705 2.56282C19.1296 0.921873 16.904 0 14.5833 0C12.2627 0 10.0371 0.921873 8.39615 2.56282C6.75521 4.20376 5.83333 6.42936 5.83333 8.75H0V14.5833H58.3333V8.75H52.5ZM11.6667 8.75C11.6667 7.97645 11.974 7.23459 12.5209 6.68761C13.0679 6.14062 13.8098 5.83333 14.5833 5.83333C15.3569 5.83333 16.0987 6.14062 16.6457 6.68761C17.1927 7.23459 17.5 7.97645 17.5 8.75H11.6667ZM40.8333 8.75C40.8333 7.97645 41.1406 7.23459 41.6876 6.68761C42.2346 6.14062 42.9764 5.83333 43.75 5.83333C44.5235 5.83333 45.2654 6.14062 45.8124 6.68761C46.3594 7.23459 46.6667 7.97645 46.6667 8.75H40.8333Z" fill="#088AF8"/>
                </svg>
            </div>
            <div class="sectionTitle">ІННОВАЦІЙНІ ТЕХНОЛОГІЇ</div>
            <div class="tehno__info-desc">Жодна галузь не має межі вдосконалння. Тим більше це стосується сільського господарства. Постійне вдосконалення технологічних підходів в обробітку грунту та посіву, а також пошук нових методів рішень – це один із способів бути кращим у своїй справі від інших.Постійне вдосконалення технологічних підходів в обробітку грунту та посіву, а також пошук нових методів рішень – це один із способів бути кращим у своїй справі від інших.</div>
        </div>
    </div>
    <div class="tehno__row reverse">
        <div class="tehno__media">
            <video src="images/main_bg.mp4" class="video"  playsinline="" muted="" loop=""></video>
            <!--<img src="images/pricep.png" alt="">-->
            <button class="tehno__media-btn customLink" data-video="video2" type="button">
                <svg width="26" height="32" viewBox="0 0 26 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.2865 13.7575L4.8695 1.04461C4.39179 0.73202 3.86683 0.56665 3.35107 0.56665C1.97812 0.56665 0.942383 1.6847 0.942383 3.16732V28.8326C0.942383 30.3152 1.97788 31.4332 3.35082 31.4332C3.86683 31.4332 4.39204 31.2679 4.86925 30.955L24.2865 18.2404C25.0949 17.711 25.559 16.8938 25.5587 15.9988C25.559 15.1038 25.0952 14.2872 24.2865 13.7575ZM4.67279 26.6253V5.37433L20.9005 15.9991L4.67279 26.6253Z" fill="white"/>
                </svg>
            </button>
        </div>
        <div class="tehno__info">
            <div class="tehno__info-icon">
                <svg width="128" height="59" viewBox="0 0 128 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="77.1667" y1="34.6667" x2="127.167" y2="34.6667" stroke="#088AF8" stroke-width="3"/>
                    <path d="M0 58.3333H58.3333V17.5H0V58.3333ZM29.6625 24.6458L34.5042 27.8542L30.0125 34.6208L35.8458 40.4542L28.6708 51.1875L23.8292 47.9792L28.3208 41.2125L22.4875 35.3792L29.6625 24.6458Z" fill="#088AF8"/>
                    <path d="M52.5 8.75C52.5 6.42936 51.5781 4.20376 49.9372 2.56282C48.2962 0.921873 46.0706 0 43.75 0C41.4294 0 39.2038 0.921873 37.5628 2.56282C35.9219 4.20376 35 6.42936 35 8.75H23.3333C23.3333 6.42936 22.4115 4.20376 20.7705 2.56282C19.1296 0.921873 16.904 0 14.5833 0C12.2627 0 10.0371 0.921873 8.39615 2.56282C6.75521 4.20376 5.83333 6.42936 5.83333 8.75H0V14.5833H58.3333V8.75H52.5ZM11.6667 8.75C11.6667 7.97645 11.974 7.23459 12.5209 6.68761C13.0679 6.14062 13.8098 5.83333 14.5833 5.83333C15.3569 5.83333 16.0987 6.14062 16.6457 6.68761C17.1927 7.23459 17.5 7.97645 17.5 8.75H11.6667ZM40.8333 8.75C40.8333 7.97645 41.1406 7.23459 41.6876 6.68761C42.2346 6.14062 42.9764 5.83333 43.75 5.83333C44.5235 5.83333 45.2654 6.14062 45.8124 6.68761C46.3594 7.23459 46.6667 7.97645 46.6667 8.75H40.8333Z" fill="#088AF8"/>
                </svg>
            </div>
            <div class="sectionTitle sectionTitle_white">ІННОВАЦІЙНІ ТЕХНОЛОГІЇ</div>
            <div class="tehno__info-desc">Жодна галузь не має межі вдосконалння. Тим більше це стосується сільського господарства. Постійне вдосконалення технологічних підходів в обробітку грунту та посіву, а також пошук нових методів рішень – це один із способів бути кращим у своїй справі від інших.Постійне вдосконалення технологічних підходів в обробітку грунту та посіву, а також пошук нових методів рішень – це один із способів бути кращим у своїй справі від інших.</div>
            <a href="#" class="customLink">
                <span>ознайомитись з прицепом</span>
                <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.7071 8.70711C24.0976 8.31658 24.0976 7.68342 23.7071 7.29289L17.3431 0.928932C16.9526 0.538408 16.3195 0.538408 15.9289 0.928932C15.5384 1.31946 15.5384 1.95262 15.9289 2.34315L21.5858 8L15.9289 13.6569C15.5384 14.0474 15.5384 14.6805 15.9289 15.0711C16.3195 15.4616 16.9526 15.4616 17.3431 15.0711L23.7071 8.70711ZM0 9H23V7H0V9Z" fill="white"/>
                </svg>
            </a>
        </div> 
    </div>
    <div class="tehno__row">
        <div class="tehno__media">
            <!--<video src="images/main_bg.mp4" playsinline="" muted="" loop=""></video>-->
            <img src="images/pricep.png" alt="">
        </div>
        <div class="tehno__info">
            <div class="tehno__info-icon">
                <svg width="128" height="59" viewBox="0 0 128 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="77.1667" y1="34.6667" x2="127.167" y2="34.6667" stroke="#088AF8" stroke-width="3"/>
                    <path d="M0 58.3333H58.3333V17.5H0V58.3333ZM29.6625 24.6458L34.5042 27.8542L30.0125 34.6208L35.8458 40.4542L28.6708 51.1875L23.8292 47.9792L28.3208 41.2125L22.4875 35.3792L29.6625 24.6458Z" fill="#088AF8"/>
                    <path d="M52.5 8.75C52.5 6.42936 51.5781 4.20376 49.9372 2.56282C48.2962 0.921873 46.0706 0 43.75 0C41.4294 0 39.2038 0.921873 37.5628 2.56282C35.9219 4.20376 35 6.42936 35 8.75H23.3333C23.3333 6.42936 22.4115 4.20376 20.7705 2.56282C19.1296 0.921873 16.904 0 14.5833 0C12.2627 0 10.0371 0.921873 8.39615 2.56282C6.75521 4.20376 5.83333 6.42936 5.83333 8.75H0V14.5833H58.3333V8.75H52.5ZM11.6667 8.75C11.6667 7.97645 11.974 7.23459 12.5209 6.68761C13.0679 6.14062 13.8098 5.83333 14.5833 5.83333C15.3569 5.83333 16.0987 6.14062 16.6457 6.68761C17.1927 7.23459 17.5 7.97645 17.5 8.75H11.6667ZM40.8333 8.75C40.8333 7.97645 41.1406 7.23459 41.6876 6.68761C42.2346 6.14062 42.9764 5.83333 43.75 5.83333C44.5235 5.83333 45.2654 6.14062 45.8124 6.68761C46.3594 7.23459 46.6667 7.97645 46.6667 8.75H40.8333Z" fill="#088AF8"/>
                </svg>
            </div>
            <div class="sectionTitle">ІННОВАЦІЙНІ ТЕХНОЛОГІЇ</div>
            <div class="tehno__info-desc">Жодна галузь не має межі вдосконалння. Тим більше це стосується сільського господарства. Постійне вдосконалення технологічних підходів в обробітку грунту та посіву, а також пошук нових методів рішень – це один із способів бути кращим у своїй справі від інших.Постійне вдосконалення технологічних підходів в обробітку грунту та посіву, а також пошук нових методів рішень – це один із способів бути кращим у своїй справі від інших.</div>
            <a href="#" class="customLink">
                <span>ознайомитись з прицепом</span>
                <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.7071 8.70711C24.0976 8.31658 24.0976 7.68342 23.7071 7.29289L17.3431 0.928932C16.9526 0.538408 16.3195 0.538408 15.9289 0.928932C15.5384 1.31946 15.5384 1.95262 15.9289 2.34315L21.5858 8L15.9289 13.6569C15.5384 14.0474 15.5384 14.6805 15.9289 15.0711C16.3195 15.4616 16.9526 15.4616 17.3431 15.0711L23.7071 8.70711ZM0 9H23V7H0V9Z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
</div>