.header {
    background-color: #313e45;
    &__content {
        display: flex;
        align-items: center;
        padding: 12px 0;
    }
    &__logo {
        max-width: 278px;
        max-height: 44px;
    }
    &__group {
        display: flex;
        align-items: center;
        & .telefones {
            display: grid;
            row-gap: 2px;
            & a {
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }
}







