.login {
    padding: 0 15px;
    border-left: 1px solid #ffffff1a;
    & > img {
        width: 26px;
        height: 26px;
    }
    &__modal {
        display: none;
        &-group {
            & img {
                width: 40px;
                height: 40px;
            }
        }
        &-form {
            & button {
                & img {
                    width: 22px;
                    height: 18px;
                }
            }
        }
    }
}
.cabinet {
    display: none;
    &__link {
        & img {
            width: 30px;
            height: 25px;
        }
    }
}