.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin: 0 50px;
    width: 100%;
    &__item {
        display: flex;
        align-items: center;
        column-gap: 6px;
        cursor: pointer;
        position: relative;
        & > span {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.05em;
            color: #fff;
            text-transform: uppercase;
            width: max-content;
            line-height: 65px;
        }
        & > a {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.05em;
            color: #fff;
            text-transform: uppercase;
            width: max-content;
        }
        &.open > * {
            color: #1e98ff;
        }
        &.open > * path {
            fill: #1e98ff;
        }
        &.open .menu__item-list {
            display: block;
        }
        &-list {
            display: none;
            position: absolute;
            top: 65px;
            left: 0;
            width: max-content;
            &__item {
                display: flex;
                column-gap: 17px;
                align-items: center;
                background-color: #313e45;
                padding: 8px 45px 8px 10px;
                cursor: pointer;
                & .white {
                    display: none;
                }
                &:hover .white {
                    display: block;
                }
                &:hover .blue {
                    display: none;
                }
                &:hover {
                    background-color: #088af8;
                }
                & img {
                    max-width: 58px;
                    max-height: 32px;
                }
                & span {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 17px;
                    color: #fff;
                    text-transform: uppercase;
                    min-width: max-content;
                }
            }
        }
    }
}
