.search {
    padding: 0 15px;
    border-left: 1px solid #ffffff1a;
    position: relative;
    & > svg {
        width: 20px;
        height: 25px;
        cursor: pointer;
    }
    & > svg:hover path {
        fill: #1e98ff;
    }
    &.open .search__modal {
        display: flex;
    }
    &__btn {
        position: absolute;
        right: 40px;
        background-image: url("data:image/svg+xml,%3Csvg class='search__svg' width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8.32288C0 12.9134 3.73464 16.6439 8.32105 16.6439C10.4341 16.6439 12.3669 15.8495 13.837 14.5473L19.14 19.8503C19.2383 19.9486 19.3653 19.9977 19.4963 19.9977C19.6274 19.9977 19.7543 19.9486 19.8526 19.8503C20.0491 19.6538 20.0491 19.3384 19.8526 19.1419L14.5455 13.8389C15.8477 12.3687 16.6421 10.44 16.6421 8.32288C16.6421 3.73238 12.9075 0.00183105 8.32105 0.00183105C3.73464 0.00183105 0 3.73238 0 8.32288ZM15.6388 8.32288C15.6388 12.3565 12.3546 15.6407 8.32105 15.6407C4.28747 15.6407 1.00328 12.3565 1.00328 8.32288C1.00328 4.2893 4.28747 1.00511 8.32105 1.00511C12.3546 1.00511 15.6388 4.28521 15.6388 8.32288Z' fill='white'/%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__modal {
        display: none;
        align-items: center;
        position: absolute;
        top: 65px;
        right: 0;
        background-color: #313e45e5;
        padding: 18px 26px;
        min-width: 377px;
        & input {
            border: 1px solid #c8c8c8e5;
            padding: 18px 22px;
            background: none;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            letter-spacing: 0.02em;
            color: #fff;
            width: -webkit-fill-available;
            outline: none;
            display: flex;
            align-items: center;
        }
        & input::placeholder {
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            letter-spacing: 0.02em;
            color: #fff;
        }
    }
}
