html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	font-family: "Unbounded", sans-serif;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: initial;
	color: unset;
	&:focus {
		color: blueviolet;
	}
}
button {
	border: none;
	padding: 0;
	background: none;
}
.form-control {
	padding: 0;
}
.hide {
	display: none !important;
}
.d__block {
	display: block !important;
}
.d__flex {
	display: flex !important;
}
.revert {
	transform: rotateZ(180deg);
}
.revert45 {
	transform: rotateZ(45deg);
}
.revert180 {
	transform: rotateZ(180deg);
}
.container {
	max-width: 1920px;
	margin: auto;
	padding: 0 50px;
	@include max-xl {
		padding: 0 35px;
	}
	@include max-md {
		padding: 0 15px;
	}
}
.owl-stage-outer {
	overflow: hidden;
}
.owl-stage {
	display: flex;
	// align-items: center;
}
.row-rewerse {
	flex-direction: row-reverse;
}
.opacity0 {
	opacity: 0;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0);
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
}
select::-ms-expand {
	display: none;
}
.customButton {
	font-family: Geometria;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	padding: 15px;
	width: 100%;
	color: #fff;
	background-color: #088af8;
	text-transform: uppercase;
}
.owl-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: max-content;
	width: 100%;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
	z-index: 20;
}
.owl-nav span {
	display: none;
}
.owl-nav button {
	background-image: url("data:image/svg+xml,%3Csvg width='104' height='50' viewBox='0 0 104 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='76' height='50' transform='matrix(-1 0 0 1 76 0)' fill='%23008AFF'/%3E%3Cpath d='M47.9393 26.0607C47.3536 25.4749 47.3536 24.5251 47.9393 23.9393L57.4853 14.3934C58.0711 13.8076 59.0208 13.8076 59.6066 14.3934C60.1924 14.9792 60.1924 15.9289 59.6066 16.5147L51.1213 25L59.6066 33.4853C60.1924 34.0711 60.1924 35.0208 59.6066 35.6066C59.0208 36.1924 58.0711 36.1924 57.4853 35.6066L47.9393 26.0607ZM104 26.5H49V23.5H104V26.5Z' fill='white'/%3E%3C/svg%3E%0A");
	width: 100px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: all;
	cursor: pointer;
	@include max-xxl{
		width: 70px;
		height: 35px;
	}
	@include max-md{
		display: none;
	}
	
}
.owl-next {
	transform: rotate(180deg);
}
.sectionTitle {
	font-size: 35px;
	font-weight: 700;
	line-height: 43px;
	color: #282828;
	text-align: center;
	text-transform: uppercase;
	&_white {
		color: #fff;
	}
	@include max-xl{
		font-size: 30px;
		line-height: 35px;
	}
	@include max-lg{
		font-size: 25px;
		line-height: 30px;
	}
	@include max-md{
		font-size: 20px;
		line-height: 25px;
	}
	
}
.customLink {
	background-color: #088AF8;
	padding: 16px;
	color: #fff;
	text-transform: uppercase;
	display: flex;
	max-width: max-content;
	& svg {
		margin-left: 15px;
	}
}
.rating {
    font-size: 36px;
    cursor: pointer;
  }
  
  .star {
    color: gray;
    cursor: pointer;
  }
  
  .star.active {
    color: #F3C436;
  }
  .owl-dots,
  .slick-dots {
	display: flex;
	justify-content: center;
	column-gap: 5px;
  }
  .owl-dots button,
  .slick-dots li {
	width: 15px;
	height: 15px;
	background-color: #fff;
	border: 2px solid #DCDCDC;
	&.slick-active,  &.active{
		background-color: #088AF8;
	}
  }
  .slick-dots button {
	display: none;
  }