.about {
    position: relative;
    padding: 0 20%;
    background-image: url(../images/about_shadow.png);
    background-size: cover;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
    &__content {
        padding: 65px 0;
    }

    & .sectionTitle {
        text-align: left;
    }
    &__desc {
        font-family: Geometria;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
        color: #fff;
        margin-top: 20px;
        & p {
            margin-top: 25px;
        }
    }
    & .customLink {
        margin-top: 25px;
        position: relative;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
    & svg {
    }
}
